* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Archivo', sans-serif;
}

header{
	min-height: 90vh;
	width: 100%;
	height: 710px;
	background-image: linear-gradient(rgba(4,9,30,0.7),#04091eb3),url(image/pic3.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.links a::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f1592a;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.links a:hover::after{
	width: 100%;
}


header{
	position: relative;
	padding: 0 2rem;
	padding-bottom: 25px;
}

.navbar{
	width: 100%;
	height: 100px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 5%;
	justify-content: space-between;
	align-items: center;
}


.navbar .logo a img{
	width: 7rem;
}

.navbar .links{
	display: flex;
	gap: 2rem;
}

.navbar .toggle_btn{
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.dropdown-menu{
	display: none;
	padding-top: 20px;
	position: absolute;
	right: 2rem;
	top: 70px;
	height: 0;
	width: 300px;
	background: rgba	(255,255,255,0.1);
	backdrop-filter: blur(15px);
	border-radius: 15px;
	overflow: hidden;
	z-index: 2;
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
	height: 240px;
}

.dropdown-menu li{
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media(max-width: 991px){
	.navbar .links{
		display: none;
	}

	.navbar .toggle_btn{
		display: block;
	}

	.navbar .toggle_btn{
		display: block;
	}

	.dropdown-menu{
		display: block;
	}
}

@media(max-width: 576px){
	.dropdown-menu{
		left: 2rem;
		width: unset;
	}
}



.container{
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin: 1px auto;
	margin-top: 20px;
	margin-bottom: 160px;
}


.glass{
	background: linear-gradient(135deg,rgba(217, 217, 217, 0.1)rgba(217, 217, 217, 0.1));
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(217, 217, 217, 0.1);
	box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.welcome_description{
	color: white;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	z-index: 1;
}

.welcome_description h1{
	font-size: 55px;
	font-family: 'Archivo', sans-serif;
	font-style: italic;
	font-weight: 800;
}

.welcome_description{
	font-size: 16px;
	color: white;
}

.welcome_description h2{
	color: #f1592a;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Archivo', sans-serif;
	font-style: italic;
	font-weight: bold;

}

.welcome_description p{
	line-height: 25px;
	margin-bottom: 30px;
}

.small-wd{
	display: none;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	border-radius: 12px;
	cursor: pointer;
}

.hero-btn:hover{
	border: 1px solid #f1592a;
	background: #f1592a;
	transition: 1s;
}


@media(max-width: 1200px){
	.container{
		height: 400px;
		margin-top: 50px;
		
	}
	.welcome_description h1{
		font-size: 48px;
	}
	.welcome_description{
		font-size: 14px;
		top: 50%;
	}
	
}

@media(max-width: 991px){
	.container{
		height: 400px;
		margin-top: 65px;
		
	}
	.welcome_description h1{
		font-size: 48px;
	}
	.welcome_description{
		font-size: 14px;
		top: 50%;
	}
	
}

@media(max-width: 576px){
	.container{
		height: 400px;
		margin-top: 80px;
	}

	.welcome_description{
		margin-top: 35px;
	}
	.welcome_description h1{
		font-size: 40px;
	}

	.large-wd{
		display: none;
	}

	.small-wd{
		display: block;
	}

	.small-wd{
		font-size: 15px;
	}
	
}


@keyframes slide {
	from{
		transform:  translateX(0);
	}
	to{
		transform: translateX(-100%);
	}
}


.logos_infinite{
	
	overflow: hidden;
	position: relative;
	background-color: white;
	white-space: nowrap;
	margin: 0%;

}

/* .logos_infinite::before{
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	background: #f1592a;
	content: "";
	z-index: 2;
} */

.logos_infinite:hover .logo-slide{
	animation-play-state: paused;
}

.logo-slide{
	display: inline-block;
	animation: 15s slide infinite linear;
}

.logo-slide img{
	height: 40px;
	margin: 0 25px;
}

.contact-us{
	width: 100%;
	/* height: 300px; */
	background-color: #0A2456;
	display: grid;
	place-items: center;
	color: #fff;
}

.row{
	width: 80%;
	max-width: 1440px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px 30px;
	margin-bottom: 80px;
}


.row .right{
	overflow: hidden;
}

.row .right{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 18px;
}

.row .left{
	display: inline-block;
	line-height: 50px;
	align-items: center;
}

.row .left{
	padding-top: 50px;
}

.contact-us h1{
	font-size: 55px;
	padding: 4%;
}

.row .left h3{
	font-size: 25px;
}

.row .left p{
	font-size: 20px;
}

.row .left .contact-d p{
	font-size: 16px;
}

.row .left img{
	padding-top: 15px;
}

.contact-d{
	display:flex;
	align-items: center;
	font-weight: bold;
	
	gap: 50px;
}

.row .left .WA_logo2{
	display: none;
}


@media (max-width: 991px){
	.row{
		width: 90%;
		grid-template-columns: 1fr;
	}

	.row .left{
		text-align: center;
	}

	.contact-d{
		justify-content: center;
	}
}

@media (max-width: 576px){
	.row{
		width: 90%;
		grid-template-columns: 1fr;
	}

	.contact-us h1{
		margin-top: 20px;
	}
	.row .left p{
		font-size: 16px;
	}

	.WA_phoneNo{
		font-size: 13px;
	}
	
@media (max-width: 460px){

	.small-wd{
		font-size: 12px;
	}

	.contact-us h1{
		font-size: 40px;
	}

	.row .left .WA_logo{
		display: none;
	}

	.row .left .WA_logo2{
		display: block;
	}

	.row .right{
		width: 340px;
	}

		
}
	


	
}

.dash1{
	border-bottom: 1px dashed #0A2456;
	padding-top: 12px;
}

.about-us{
	display: grid;
	place-items: center;
	color: #0A2456;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -0.1px;
}

.about-us h1{
	font-style: italic;
	font-family: 'Archivo';
	font-weight: 800;
	font-size: 50px;
	line-height: 24px;
/* or 44% */
	letter-spacing: 2px;
	margin-bottom: 40px;
}

.row-about-us{
	width: 90%;
	max-width: 1440px;
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
	grid-gap: 10px 10px;
	margin-top: 30px;

}

.about-us img{
	border-radius: 10px;
}

.row-about-us .left{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 18px;
}

.row-about-us .right{
	display: block;
	line-height: 30px;
	align-items: center;
	margin-top: 120px;
}

.about-us span{
	color: #f1592a;
}

@media (max-width:1400px){
	.row-about-us{
		width: 90%;
		display: grid;
		grid-template-columns: 0.3fr 0.7fr;
		grid-gap: 10px 10px;
	}

	.row-about-us .right{
		display: block;
		line-height: 30px;
		align-items: center;
		margin-top: 80px;
	}
}

@media (max-width:1200px) {
	.row-about-us{
		width: 90%;
		display: grid;
		grid-template-columns: 0.4fr 0.6fr;
		grid-gap: 10px 10px;
	}

	.row-about-us .right{
		display: block;
		line-height: 30px;
		align-items: center;
		margin-top: 80px;
	}
	
}

@media (max-width: 990px){
	.row-about-us{
		width: 90%;
		grid-template-columns: 1fr;
	}
	.row-about-us .left{
		text-align: center;
	}

	.about-us h1{
		text-align: center;
	}

	.row-about-us .right{
		display: block;
		line-height: 30px;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media (max-width:770px){
	.row-about-us{
		width: 90%;
		grid-template-columns: 1fr;
	}
	.row-about-us img{
		text-align: center;
	}

	.about-us h1{
		text-align: center;
	}
}

@media (max-width:576px){
	.row-about-us{
		width: 90%;
		grid-template-columns: 1fr;
		margin-bottom: 20px;
		text-align: center;
	}
	.row-about-us img{
		width: 280px;
	}
}

.dash2{
	border-bottom: 1px dashed #0A2456;
	padding-bottom: 20px;
}


/* Join Us */

.join-us{
	display: grid;
	place-items: center;
	color: #0A2456;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: -0.1px;
}

.join-us-row{
	width: 90%;
	max-width: 1440px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px 10px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.join-us-row .left{
	overflow: hidden;
}

.join-us-row .left img{
	width: 100%;
	height: 100%;
	object-fit:  cover;
}

.join-us-row .right{
	display: flex;
	align-items: center;
}

.join-us-row .right .join-us-content{
	padding-left: 40px;
}

.join-us-row .right .join-us-content p{
	font-size: 16px;
	line-height: 30px;
}


.join-us-row h3{
	color: #f1592a;
}

.join-us-row span{
	color: #f1592a;
}

.join-us h2{
	display: none;
}





@media (max-width: 1200px){

	.join-us img{
		width: 500px;
	}

	.join-us h2{
		display: block;
		font-weight: 900;
		font-size: 40px;
		font-style: italic;
	}
	
}

@media (max-width: 990px){

	.join-us-row {
		width: 90%;
		grid-template-columns: 1fr;
		margin-bottom: 40px;
	}
	
	.join-us-content {
		display: block;
		line-height: 25px;
		margin-top: 40px;
	}

	.join-us h2{
		display: none;
	}
	

}

@media (max-width: 700px){

	.join-us-row {
		width: 90%;
		grid-template-columns: 1fr;
		margin-bottom: 40px;
	  }
	
	  .join-us-content {
		display: block;
		line-height: 25px;
		margin-top: 40px;
	  }

	  .join-us h2{
		display: none;
	}
	
}

@media (max-width: 576px) {
	.join-us-row {
	  width: 90%;
	  grid-template-columns: 1fr;
	  margin-bottom: 40px;
	}
  
	.join-us-content {
	  display: block;
	  line-height: 25px;
	  margin-top: 40px;
	}

	.join-us-content h3{
		font-size: 18px;
	}

	.join-us-row .right .join-us-content p{
		font-size: 15px;
	}
  
	.join-us img {
	  width: 300px;
	  text-align: center;
	}

	.join-us h2{
		display: none;
	}
	
  }
  
  


.search-block{
	background-color: #0A2456;
	color: #fff;
	display: grid;
	place-items: center;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.3px;
}

.search-row{
	width: 90%;
	max-width: 1440px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px 10px;
	margin-top: 30px;
	margin-bottom: 60px;
}


.search-row .right{
	overflow: hidden;
}

.search-block .right img{
	border-radius: 8px;

	margin-top: 30px;

}

.search-row .right{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.search-row .left .title{
	margin: 20px;
}

.search-row .left .content ul{
	line-height: 25px;
	margin-left: 50px;
}


.search-row .left .title2{
	display: none;
}




@media (max-width: 1110px) {
	
}

@media (max-width: 990px) {
	.search-row {
		width: 90%;
		grid-template-columns: 1fr;
		margin-bottom: 40px;
	}
	
	.search-row .content {
		display: block;
		line-height: 25px;
		margin-top: 40px;
		font-size: 20px;
	}

	.search-row{
		text-align: center;
	}

	.search-row .left ul{
		display: block;
		text-align: left;
		padding-left: 60px;
	}

	.search-row .left img{
		display: none;

	}


	
	.search-row .left .title2{
		display: flex;
		justify-content: center;
		color: #f1592a;
		font-size: 30px;
		font-style: italic;
	}
	
	
}
@media (max-width: 770px) {

	.search-row .left ul{
		padding-left: 10px;
	}
	.search-row li{
		font-size: 16px;
	}

}

@media (max-width: 550px) {

	.search-row h1{
		font-size: 30px;
	}
	.search-row li{
		font-size: 14px;
	}
}
